@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");
:root {
    --main-color: #1e88bf;
    --red: #e74c3c;
    --orange: #f39c12;
    --light-color: #888;
    --light-bg: #eee;
    --black: #2c3e50;
    --white: #fff;
    --border: 0.1rem solid rgba(0, 0, 0, 0.2);
    --profile: rgba(164, 138, 138, 0.05);
  }
  
  #root {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  * {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
  }
  
  *::selection {
    background-color: var(--main-color);
    color: #fff;
  }
  
  html {
    font-size: 62.5%;
    overflow-x: hidden;
  }
  
  html::-webkit-scrollbar {
    width: 1rem;
    height: 0.5rem;
  }
  
  html::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  html::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
  }
  
  body {
    background-color: var(--light-bg);
    padding-left: 30rem;
  }
  
  body.dark {
    --light-color: #aaa;
    --light-bg: #333;
    --black: #fff;
    --white: #222;
    --border: 0.1rem solid rgba(255, 255, 255, 0.2);
    --profile: rgba(255, 255, 255, 0.05);
  }
  
  body.active {
    padding-left: 0;
  }
  
  section {
    padding: 2rem;
    margin: 0 auto;
    max-width: 1200px;
  }
  
  .heading {
    font-size: 2.5rem;
    color: var(--black);
    margin-bottom: 2.5rem;
    border-bottom: var(--border);
    padding-bottom: 1.5rem;
    text-transform: capitalize;
  }
  
  .inline-btn,
  .inline-option-btn,
  .inline-delete-btn,
  .btn,
  .delete-btn,
  .option-btn {
    border-radius: 0.5rem;
    color: #fff;
    font-size: 1.8rem;
    cursor: pointer;
    text-transform: capitalize;
    padding: 1rem 3rem;
    text-align: center;
    margin-top: 1rem;
  }
  
  .btn,
  .delete-btn,
  .option-btn {
    display: block;
    width: 100%;
  }
  
  .inline-btn,
  .inline-option-btn,
  .inline-delete-btn {
    display: inline-block;
  }
  
  .btn,
  .inline-btn {
    background-color: var(--main-color);
  }
  
  .option-btn,
  .inline-option-btn {
    background-color: var(--orange);
  }
  
  .delete-btn,
  .inline-delete-btn {
    background-color: var(--red);
  }
  
  .inline-btn:hover,
  .inline-option-btn:hover,
  .inline-delete-btn:hover,
  .btn:hover,
  .delete-btn:hover,
  .option-btn:hover {
    background-color: var(--black);
    color: var(--white);
  }
  
  .flex-btn {
    display: flex;
    gap: 1rem;
  }
  
  .header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--white);
    z-index: 1000;
    border-bottom: var(--border);
  }
  
  .header .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 1.5rem 2rem;
  }
  
  .header .flex .logo {
    font-size: 2.5rem;
    color: var(--black);
  }
  
  .wrapper {
    max-width: 300px;
    position: relative;
    display: block;
    z-index: 2000;
  }
  .wrapper .search-input {
    background: #fff;
    width: 100%;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
  }
  .search-input input {
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  }
  .search-input.active input {
    border-radius: 5px 5px 0 0;
  }
  .search-input .autocom-box {
    position: absolute;
    font-size: 15px;
    padding: 0;
    opacity: 0;
    pointer-events: none;
    width: 284px;
    max-height: 280px;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 0px 0px 5px 5px;
  }
  .search-input.active .autocom-box {
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
  }
  .search-input .autocom-box li {
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
  }
  .search-input.active .autocom-box li {
    display: block;
  }
  .search-input .autocom-box li:hover {
    cursor: pointer;
    background: #bebebe;
  }
  .search-input .icon {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: var(--main-color);
    cursor: pointer;
  }
  
  .header .flex .icons div {
    font-size: 2rem;
    color: var(--black);
    background-color: var(--light-bg);
    border-radius: 0.5rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    cursor: pointer;
    text-align: center;
    margin-left: 0.7rem;
  }
  
  .header .flex .icons div:hover {
    background-color: var(--black);
    color: var(--white);
  }
  
  .header .flex .profile {
    position: absolute;
    top: 120%;
    right: 2rem;
    background-color: var(--white);
    border-radius: 0.5rem;
    padding: 1.5rem;
    text-align: center;
    overflow: hidden;
    transform-origin: top right;
    transform: scale(0);
    transition: 0.2s linear;
    width: 30rem;
  }
  
  .header .flex .profile.active {
    transform: scale(1);
  }
  
  .header .flex .profile .image {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: contain;
    margin-bottom: 1rem;
  }
  
  .header .flex .profile .name {
    font-size: 2rem;
    color: var(--black);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .header .flex .profile .role {
    font-size: 1.8rem;
    color: var(--light-color);
  }
  
  #search-btn {
    display: none;
  }
  
  .side-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 30rem;
    background-color: var(--white);
    height: 100vh;
    border-right: var(--border);
    z-index: 1200;
  }
  
  .side-bar .navbar img {
    width: 200px;
    margin-left: -20px;
  }
  
  .side-bar .other {
    margin-top: 270px;
  }
  
  .side-bar .share button {
    text-align: start;
    width: 100%;
    display: block;
    padding: 2rem;
    font-size: 2rem;
    background: transparent;
    cursor: pointer;
  }
  
  .side-bar .share .bx {
    color: var(--main-color);
  }
  
  .side-bar .share button i {
    margin-right: 1.5rem;
    color: var(--main-color);
    transition: 0.2s linear;
  }
  
  .side-bar .share button span {
    color: var(--light-color);
  }
  
  .side-bar .share button:hover {
    background-color: var(--light-bg);
  }
  
  .side-bar .share button:hover i {
    margin-right: 2.5rem;
  }
  
  .side-bar .logout {
    background-color: var(--main-color);
  }
  
  .side-bar .logout a {
    display: block;
    padding: 2rem;
    font-size: 2rem;
  }
  
  .side-bar .logout .bx {
    color: #fff;
  }
  
  .side-bar .logout a i {
    margin-right: 1.5rem;
    color: var(--main-color);
    transition: 0.2s linear;
  }
  
  .side-bar .logout a span {
    color: #fff;
  }
  
  .side-bar .logout a:hover span {
    color: var(--light-color);
  }
  
  .side-bar .logout a:hover {
    background-color: var(--light-bg);
  }
  
  .side-bar .logout a:hover i {
    color: var(--main-color);
    margin-right: 2.5rem;
  }
  
  .side-bar #close-btn {
    text-align: right;
    padding: 2rem;
    display: none;
  }
  
  .side-bar #close-btn i {
    text-align: right;
    font-size: 2.5rem;
    background: var(--red);
    border-radius: 0.5rem;
    color: var(--white);
    cursor: pointer;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    text-align: center;
  }
  
  .side-bar #close-btn i:hover {
    background-color: var(--black);
  }
  
  .side-bar .profile {
    padding: 3rem 2rem;
    text-align: center;
  }
  
  .side-bar .profile .image {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: contain;
    margin-bottom: 1rem;
  }
  
  .side-bar .profile .name {
    font-size: 2rem;
    color: var(--black);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .side-bar .profile .role {
    font-size: 1.8rem;
    color: var(--light-color);
  }
  
  .side-bar .navbar a {
    display: block;
    padding: 2rem;
    font-size: 2rem;
  }
  
  .side-bar .navbar a i {
    margin-right: 1.5rem;
    color: var(--main-color);
    transition: 0.2s linear;
  }
  
  .side-bar .navbar a span {
    color: var(--light-color);
  }
  
  .side-bar .navbar a:hover {
    background-color: var(--light-bg);
  }
  
  .side-bar .navbar a:hover i {
    margin-right: 2.5rem;
  }
  
  .side-bar.active {
    left: -30rem;
  }

.container {
  position: relative;
  margin-top: 25px;
  max-width: 700px;
  width: 100%;
  background: var(--white);
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.container header {
  font-size: 2rem;
  color: var(--black);
  font-weight: 500;
  text-align: center;
}
.container .form {
  margin-top: 30px;
}
.form .input-box {
  width: 100%;
  margin-top: 20px;
}
.input-box label {
  color: var(--black);
  font-size: 1.5rem;
}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1.5rem;
  color: var(--white);
  margin-top: 8px;
  border: 1px solid var(--light-bg);
  border-radius: 6px;
  padding: 0 15px;
}
.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
  display: flex;
  column-gap: 15px;
}
.form .gender-box {
  margin-top: 20px;
}
.gender-box h3 {
  color: var(--black);
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 8px;
}
.form :where(.gender-option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}
.form .gender {
  column-gap: 5px;
}
.gender input {
  accent-color: var(--main-color);
}
.form :where(.gender input, .gender label) {
  cursor: pointer;
}
.gender label {
    color: var(--black);
}
.address :where(input, .select-box) {
  margin-top: 15px;
}
.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: var(--black);
  font-size: 1.5rem;
}
.form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: var(--main-color);
}
.form button:hover {
  background: var(--light-bg);
}

.email-sent {
    width: 100%;
    background-color: var(--white);
    margin-top: 150px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 50px;
}

.email-sent img {
    width: 40%;
}

.email-sent h1 {
    margin-top: -50px;
    font-size: 60px;
    color: var(--black);
}

.email-sent p {
    font-size: 30px;
    color: var(--black);
}

@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}

@media (max-width: 1200px) {
  body {
    padding-left: 0;
  }

  .side-bar {
    left: -30rem;
    transition: 0.2s linear;
  }

  .side-bar #close-btn {
    display: block;
  }

  .side-bar.active {
    left: 0;
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
    border-right: 0;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 768px) {
  #search-btn {
    display: inline-block;
  }

  .form-container form .eye{
    right: 15px;
    transform: translateY(50%);
    top: 465px;
    left: 79%;
  }

  .form-container form .eye1{
    right: 15px;
    transform: translateY(50%);
    top: 422px;
    left: 79%;
  }
  
  .form-container form .eye2{
    right: 15px;
    transform: translateY(50%);
    top: 506px;
    left: 79%;
  }

  .form-container form .akun{
    display: flex;
    margin-left: 60px;
  }
 
  .form-container form .akun .create-acc{
    padding-left: 10px;
    font-size: 15px;
  }
 
  .form-container form .akun a{
    margin-top: 9px;
    color: var(--main-color);
  }
 
  .form-container form .akun-register{
    display: flex;
    margin-left: 90px;
  }
 
  .form-container form .akun-register .create-acc{
    padding-left: 10px;
    font-size: 15px;
  }
 
  .form-container form .akun-register a{
    margin-top: 9px;
    color: var(--main-color);
  }

  .header .flex .search-input {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    border-top: var(--border);
    border-bottom: var(--border);
    background-color: var(--white);
    border-radius: 0;
    width: auto;
    padding: 2rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 0.2s linear;
  }

  .header .flex .search-input.active {
    transform: translateX(-50%);
    border-radius: 5px;
    width: 325px;
    height: 150px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .flex-btn {
    gap: 0;
    flex-flow: column;
  }

  .home-grid .box-container {
    grid-template-columns: 1fr;
  }

  .about .row .image img {
    height: 25rem;
  }
}